:root {
    --brand-color: #212121;
    --item-color: #2196f3;
    --link-color: #757575;
    --background-color: #f5f4fa;
    --footer-background: #2f303a;
    --footer-contact: rgba(255, 255, 255, 0.6);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
}

ul,
li {
    all: unset;
}

.nav-contact {
    display: flex;
    gap: 62px;
}

a[href="./index.html"] {
    font-family: Raleway;
    text-decoration: none;
    color: #212121;
    font-size: 26px;
    font-weight: bold;
}

.nav-links .nav-link {
    color: var(--brand-color);
}
.nav-links .nav-link:hover {
    color: var(--item-color);
}
.nav-link {
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.footer-links .footer-link:hover {
    color: var(--item-color);
}

ul {
    list-style: none;
}

.button-portfolio:hover {
    color: var(--background-color);
    background-color: var(--item-color);
}

.paragraph {
    line-height: 1.71;
    font-size: 14px;
    color: var(--link-color);
}

.contact-menu {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2%;
    color: var(--link-color);
}
.contact-menu:hover,
.contact-menu:focus {
    color: var(--item-color);
}
.effective-solutions {
    margin: auto;
    padding-top: 200px;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    color: #ffffff;
}
.paragraph-title {
    font-size: 14px;
    margin-bottom: 10px;
}
.headers-sections-1 {
    margin-bottom: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.headers-sections-2 {
    margin-bottom: 50px;
    margin-top: 0;
    font-family: "Roboto";
    font-style: normal;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team {
    font-size: 16px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 10px;
}
.specializations-team {
    font-size: 16px;
    color: var(--link-color);
    padding-bottom: 30px;
}
.postal-address {
    color: #ffffff;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 20px;
    margin-bottom: 9px;
}

.contact-footer {
    font-style: normal;
    text-decoration: none;
    color: var(--footer-contact);
    font-size: 14px;
}
.photo-title {
    font-size: 18px;
    line-height: 2;
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
}

.photo-title-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--link-color);
    padding-left: 24px;
    padding-bottom: 20px;
}
.contact-footer:hover,
.contact-footer:focus {
    color: var(--item-color);
}

/* positioning on the main website */

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}

.block-nav {
    display: flex;
    align-items: center;
}

.block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 25px;
}

.nav-links {
    display: flex;
    gap: 46px;
    
    padding-left: 93px;
}

.block-background-text {
    background-color: #2f303a;
}

.button-portfolio {
    display: block;
    background-color: var(--background-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    text-decoration: none;
    color: var(--brand-color);
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    border-radius: 4px;
}

.block-paragraph-title {
    display: flex;
}

.button-center {
    display: flex;
    padding-bottom: 200px;
    padding-top: 30px;
}

.button-in-main {
    cursor: pointer;
    border: none;
    background-color: var(--item-color);
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.87;
    color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 47px;
    padding-bottom: 10px;
    padding-left: 47px;
}

.block-images {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.container-our-team {
    background-color: var(--background-color);
}

.photo-team-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.border-photo {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    background-color: #ffffff;
}

.block-footer-background {
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.telephone-no {
    margin-top: 9px;
    display: block;
}

/* positioning on the portfolio website */

.sections {
    padding-top: 94px;
    padding-bottom: 94px;
}

.buttons-in-section {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.photo-section-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.border-photos {
    flex-basis: calc((100% - 60px) / 3);
}

.border-text {
    border: solid #eeeeee;
    border-width: thin;
    border-top: 0px;
}

img {
    display: block;
}

.border-under-nav {
    border: solid #ececec;
    border-width: thin;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
