:root {
    --brand-color: #212121;
    --item-color: #2196f3;
    --link-color: #757575;
    --background-color: #f5f4fa;
    --footer-background: #2f303a;
    --footer-contact: rgba(255, 255, 255, 0.6);
}

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
    width: 1600px;
}

ul {
    all: unset;
}

.nav-contact {
    display: flex;
    gap: 50px;
    padding: 0;
}

a[href="./index.html"] {
    font-family: Raleway;
    text-decoration: none;
    color: #212121;
    font-size: 26px;
    font-weight: bold;
}

.nav-links .nav-link {
    color: var(--brand-color);
}
.nav-links .nav-link:hover {
    color: var(--item-color);
}
.nav-link {
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.footer-links .footer-link:hover {
    color: var(--item-color);
}

ul {
    list-style: none;
}

.button-portfolio:hover {
    color: var(--background-color);
    background-color: var(--item-color);
}

.paragraph {
    line-height: 1.71;
    font-size: 14px;
    color: var(--link-color);
}

.contact-menu {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2%;
    color: var(--link-color);
}
.contact-menu:hover,
.contact-menu:focus {
    color: var(--item-color);
}
.effective-solutions {
    margin: 0;
    padding-top: 200px;
    padding-left: 452px;
    padding-right: 452px;
    padding-bottom: 280px;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    line-height: 20, 45;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
}
.paragraph-title {
    font-size: 14px;
}
.headers-sections-1 {
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.headers-sections-2 {
    text-align: center;
    padding-top: 94px;
    margin-bottom: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team {
    font-size: 16px;
    font-weight: 500;
}
.specializations-team {
    font-size: 16px;
    color: var(--link-color);
}
.postal-address {
    color: #ffffff;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 3%;
    line-height: 1.71;
}

.contact-footer {
    font-style: normal;
    text-decoration: none;
    color: var(--footer-contact);
    font-size: 14px;
    letter-spacing: 3%;
    line-height: 1, 71;
}
.photo-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
}

.photo-title-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 3%;
    color: var(--link-color);
}
.contact-footer:hover,
.contact-footer:focus {
    color: var(--item-color);
}

/* positioning on the website */

.container {
    width: 1600px;
}

.block-header {
    display: flex;
    align-items: center;
    width: 1600px;
    height: 80px;
    padding-left: 215px;
    padding-right: 227px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 46px;
    margin-right: 371px;
    padding-left: 93px;
}

.block-background-text {
    width: 1600px;
    height: 600px;
    background-color: #2f303a;
}

.button-portfolio {
    display: block;
    width: 121px;
    height: 38px;
    background-color: var(--background-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 3%;
    text-align: center;
    text-decoration: none;
    color: var(--brand-color);
}

.block-paragraph-title {
    display: flex;
    justify-content: center;
    width: 1170px;
    height: 101px;
    margin-left: 215px;
    top: 774px;
    gap: 30;
}

.button-in-main {
    position: absolute;
    cursor: pointer;
    display: block;
    border: none;
    width: 200px;
    height: 50px;
    background-color: var(--item-color);
    top: 430px;
    margin-left: 700px;
    margin-right: 700px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 6%;
    text-align: center;
    line-height: 1.87;
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
    align-items: center;
    text-align: center;
}

.block-images {
    display: flex;
    justify-content: center;
    gap: 30px;
    /*  
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1061px;
    */
}

.container-our-team {
    width: 1600px;
    height: 648px;
    background-color: var(--background-color);
    margin-top: 94px;
}

.photo-team-container {
    display: flex;
    justify-content: center;
}

.block-footer-background {
    width: 1600px;
    height: 252px;
    background-color: var(--footer-background);
}
